.cart-dropdown {
  height: 340px;
  width: 275px;
  position: absolute;
  top: 90px;
  right: 40px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    max-height: 240px;
    overflow: auto;
  }

  button {
    margin-top: auto;
  }
}
